<div class="adminInner">
    <h3>Adults Fitness/Sport</h3>
    <div class="categories">
        <label>
            Shops
            <input type="radio" name="adultsSportSub" value="shops">
        </label>
        <label>
            Zumba & Yoga/Pilates
            <input type="radio" name="adultsSportSub" value="yoga" ng-model="newCompany.subCategory.adultSport">
        </label>
        <label>
            Personal Training
            <input type="radio" name="adultsSportSub" value="pt" ng-model="newCompany.subCategory.adultSport">
        </label>
        <label>
            Fitness Classes
            <input type="radio" name="adultsSportSub" value="fitness" ng-model="newCompany.subCategory.adultSport">
        </label>
        <label>
            Martial Arts
            <input type="radio" name="adultsSportSub" value="martial" ng-model="newCompany.subCategory.adultSport">
        </label>
         <label>
            Sport Teams
            <input type="radio" name="adultsSportSub" value="sport" ng-model="newCompany.subCategory.adultSport">
        </label>
         <label>
            Dance
            <input type="radio" name="adultsSportSub" value="dance" ng-model="newCompany.subCategory.adultSport">
        </label>
         <label>
            Outdoor/Water Sports
            <input type="radio" name="adultsSportSub" value="outdoor" ng-model="newCompany.subCategory.adultSport">
        </label>
    </div>
</div>