<div class="adminInner">
    <h3>Adults Education</h3>
    <div class="categories">
        <label>
            Language
            <input type="radio" name="adultEduSub" value="language" ng-model="newCompany.subCategory.adultEdu">
        </label>
        <label>
            Music
            <input type="radio" name="adultEduSub" value="music" ng-model="newCompany.subCategory.adultEdu">
        </label>
        <label>
            Computer Science
            <input type="radio" name="adultEduSub" value="coding" ng-model="newCompany.subCategory.adultEdu">
        </label>
        <label>
            Arts & Performing
            <input type="radio" name="adultEduSub" value="art" ng-model="newCompany.subCategory.adultEdu">
        </label>
        <label>
            Home Tutor
            <input type="radio" name="adultEduSub" value="tutor" ng-model="newCompany.subCategory.adultEdu">
        </label>
    </div>
</div>