<div class="adminInner">
    <h3>Eat & Drink</h3>
    <div class="categories">
        <label>
            South Plaza
            <input type="radio" name="eatSub" value="south" ng-model="newCompany.subCategory.dining">
        </label>
        <label>
            North Plaza
            <input type="radio" name="eatSub" value="north" ng-model="newCompany.subCategory.dining">
        </label>
        <label>
            Online Eating
            <input type="radio" name="eatSub" value="online" ng-model="newCompany.subCategory.dining">
        </label>
        <label>
            Coffee & Cakes
            <input type="radio" name="eatSub" value="coffee" ng-model="newCompany.subCategory.dining">
        </label>
        <label>
            Private Dining
            <input type="radio" name="eatSub" value="private" ng-model="newCompany.subCategory.dining">
        </label>
    </div>
</div>