<div class="adminInner">
    <h3>Health</h3>
    <div class="categories">
        <label>
            Medical
            <input type="radio" name="healthSub" value="medical" ng-model="newCompany.subCategory.health">
        </label>
        <label>
            Physiotherapy
            <input type="radio" name="healthSub" value="phsyio" ng-model="newCompany.subCategory.health">
        </label>
        <label>
            Holistic
            <input type="radio" name="healthSub" value="holistic" ng-model="newCompany.subCategory.health">
        </label>
        <label>
            Therapy
            <input type="radio" name="healthSub" value="therapy" ng-model="newCompany.subCategory.health">
        </label>
    </div>
</div>