<div class="adminInner">
    <h3>Kid Sport/Activities</h3>
    <div class="categories">
        <label>
            Babies & Tots
            <input type="radio" name="kidsSportSub" value="tots" ng-model="newCompany.subCategory.kidsSport">
        </label>
        <label>
            Dance
            <input type="radio" name="kidsSportSub" value="dance" ng-model="newCompany.subCategory.kidsSport">
        </label>
        <label>
            Fitness/Multi-Sport
            <input type="radio" name="kidsSportSub" value="multi" ng-model="newCompany.subCategory.kidsSport">
        </label>
        <label>
            Martial Arts
            <input type="radio" name="kidsSportSub" value="martial" ng-model="newCompany.subCategory.kidsSport">
        </label>
        <label>
            Sport
            <input type="radio" name="kidsSportSub" value="sport" ng-model="newCompany.subCategory.kidsSport">
        </label>
    </div>
</div>