<div class="adminInner">
    <h3>Kids Education</h3>
    <div class="categories">
        <label>
            Language
            <input type="radio" name="kidEduSub" value="language" ng-model="newCompany.subCategory.kidsEdu">
        </label>
        <label>
            Math Kumon
            <input type="radio" name="kidEduSub" value="math" ng-model="newCompany.subCategory.kidsEdu">
        </label>
        <label>
            Computer Science
            <input type="radio" name="kidEduSub" value="coding" ng-model="newCompany.subCategory.kidsEdu">
        </label>
        <label>
            Art & Performance
            <input type="radio" name="kidEduSub" value="art" ng-model="newCompany.subCategory.kidsEdu">
        </label>
        <label>
            Music
            <input type="radio" name="kidEduSub" value="music" ng-model="newCompany.subCategory.kidsEdu">
        </label>
        <label>
            Home Tutor
            <input type="radio" name="kidEduSub" value="tutor" ng-model="newCompany.subCategory.kidsEdu">
        </label>
    </div>
</div>