<div class="adminInner">
    <h3>Spa & Beauty</h3>
    <div class="categories">
        <label>
            Hairdresser
            <input type="radio" name="spaSub" value="hair" ng-model="newCompany.subCategory.spa">
        </label>
        <label>
            Facial/Massage
            <input type="radio" name="spaSub" value="massage" ng-model="newCompany.subCategory.spa">
        </label>
        <label>
            Hair & Makeup
            <input type="radio" name="spaSub" value="makeup" ng-model="newCompany.subCategory.spa">
        </label>
    </div>
</div>