<div class="catInnerWrap" ng-controller="categoryCtrl">
		<a href="#!/category" ng-click="selectedCat('dining')"><h3>Dining</h3></a>
		<a href="#!/category" ng-click="selectedCat('health')"><h3>Health</h3></a>
		<a href="#!/category" ng-click="selectedCat('kidsEdu')"><h3>Kids Education</h3></a>
		<a href="#!/category" ng-click="selectedCat('kidsSport')"><h3>Kids Sport/Fitness</h3></a>
		<a href="#!/category" ng-click="selectedCat('kidsShops')"><h3>Kids Shops/Services</h3></a>
		<a href="#!/category" ng-click="selectedCat('spa')"><h3>Spa & Beauty</h3></a>
		<a href="#!/category" ng-click="selectedCat('photo')"><h3>Photography & Art</h3></a>
		<a href="#!/category" ng-click="selectedCat('adultsEdu')"><h3>Adults Education</h3></a>
		<a href="#!/category" ng-click="selectedCat('adultsSport')"><h3>Adults Sport/Fitness</h3></a>
		<a href="#!/category" ng-click="selectedCat('pets')"><h3>Pets</h3></a>
		<a href="#!/category" ng-click="selectedCat('home')"><h3>Home Services & Decor</h3></a>
		<a href="#!/category" ng-click="selectedCat('luxury')"><h3>Luxury</h3></a>
		<a href="#!/category" ng-click="selectedCat('community')"><h3>Community</h3></a>
		<a href="#!/category" ng-click="selectedCat('news')"><h3>News</h3></a>
	</div>